<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.pstehlik.wifiteplomer"
    android:versionCode="9"
    android:versionName="1.7">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="27" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="cz.pstehlik.wifiteplomer.MyApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name">
        <receiver
            android:name="cz.pstehlik.wifiteplomer.WidgetProvider"
            android:exported="false"
            android:icon="@drawable/icon"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
                <action android:name="cz.pstehlik.list.UPDATE_LIST" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>
        <!--
                <receiver android:name="cz.pstehlik.wifiteplomer.MyBroadcastReceiver" android:enabled="true">
                    <intent-filter>
                        <action android:name="android.intent.action.SCREEN_ON"></action>
                        <action android:name="android.intent.action.SCREEN_OFF"></action>
                        <action android:name="android.intent.action.PRESENT"></action>
                        <action android:name="android.intent.action.UNLOCKED"></action>
                    </intent-filter>
                </receiver>
        -->
        <service
            android:name="cz.pstehlik.wifiteplomer.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <!--
                <service android:name="cz.pstehlik.wifiteplomer.ScreenMonitorService" />
        -->
        <activity
            android:name="cz.pstehlik.wifiteplomer.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme" />

        <activity
            android:name="cz.pstehlik.wifiteplomer.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>